.jumbotron {
  background-color: #d3e628;
  color: #c50b0b;
  margin-top: 3rem;
  margin-bottom: 1rem; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #d3e628;
  margin-top: 1rem;
  margin-bottom: 0rem; }

.card-hotel {
  flex: 1 250px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.btn-reservas {
  width: 100%;
  border-radius: 0%; }

.tab-content {
  padding-top: 1rem; }

#carouselExampleIndicators .carousel-inner {
  margin-top: 1rem;
  margin-bottom: 1rem; }
