@yellow: #d3e628;
@blue: #290caa;
@green: #347634;
@red: #c50b0b;
@mixin margenes(@top:1rem,@bottom:1rem){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron{
    background-color: @yellow;
    color: @red;
    margin-top: 50px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 250px;
    margin-top: 10px;
}
.btn-reservas{
    width: 100%;
    border-radius: 0%;
}
.tab-content{
    padding-top: 1rem;
}
#carouselExampleIndicators .carousel-inner {
    margin-top: 1rem;
}