$yellow: #d3e628;
$blue: #290caa;
$green: #347634;
$red: #c50b0b;

@mixin margenes($top:1rem,$bottom:1rem){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron{
    background-color: $yellow;
    color: $red;
    @include margenes(3rem,1rem);
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(1rem,0rem);
}
.card-hotel{
    flex: 1 250px;
    @include margenes(1rem,1rem);
}
.btn-reservas{
    width: 100%;
    border-radius: 0%;
}
.tab-content{
    padding-top: 1rem;
}
#carouselExampleIndicators .carousel-inner {
    @include margenes(1rem,1rem);
}